@{
    Layout = "_Layout";
}

<h1>Order details for @Model["vendor"].Name</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Order title: @Model["order"].Title</h5>
        <p class="card-text">Order description: @Model["order"].Description</p>
        <p class="card-text">Order price: @Model["order"].Price</p>
        <p class="card-text">Order date: @Model["order"].Date</p>
    </div>
</div>

<a class="btn btn-info" href='/vendors/@Model["vendor"].Id/orders/new'>Add more for @Model["vendor"].Name</a>
<a class="btn btn-info" href="/vendors/">Back to Vendor List</a>
<a class="btn btn-secondary" href="/">Back Home</a>